body {
background-color: white; 

}


h1 {
color: blue;
font-size: 100px; 
text-align: center;   

}

.head {
color:black;
text-align: centered; 

}

.header {
background-color:lightblue; 
position: relative;
width:1250px;
height:350px;
bottom:150px;

}

p { 
font-size: 150px; 
float:left;
color:white;
font-family: futura; 
 
 }


.one {
	position:center; 
	color:red;
	font-size:50px;
	bottom:70%;


}

.twoo {
color:red;
	font-size:10px;
	position: relative;
	top:700px;
	left:292px;
	width:200px;
     

}

.sydd {
    position: absolute;
    left: 300px;
    top: 850px;
