body {
background-color:yellow;

}

h1 {
font-size:100px;
text-align: center;
color:white;
font-family: Futura;
}

h2 {
text-align: center;
color:green;
font-size:70px;
position:relative;
top:40%;
font-family: Futura;
}

.one {
color:black;


}