body { 
    background-color: black;

}

h1 { 
    color:white;
    font-size: 150;
    text-align: center;
    width: 20%;
    height: 35%;
    position: centered;
    background-color:blue; 
}

h2 {
	position:Relative;
	top:13%;
    Bottom:50%;
}

p { 
	color:white;
	text-align: center;


}