@font-face { 
    font-family: neonclub; 
    src: url('neonclub.otf'); 
  } 

body {
background-color: white; 
margin:0px; 
}


h2 {
  text-align: center;
}

#container-two {
  padding: 30px 20px;
  justify-content: center;
  background: #FFF url(rwb.jpg) no-repeat center top;
}

.topnav {
    background-color: blue;
    overflow: hidden;
    margin:0 auto;
    position:relative;
  
}

.topnav li {
display: inline; 
float:left;
width:30%;

}

.topnav a {
     display: block;
     float:left;
    color: #f2f2f2;
    font-family:Avenir Light;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;

    }


#container {
  padding: 10px 20px;
  justify-content: center;
}

.row {
  
  text-align: center;
}

.row a {
  display: inline-flex;
  padding:10px 15px;
  width: 300px;
  height:250px;
}

.row img {
  width:300px;
}



.harpoonshover{
  color:white;
}

.harpoons-title {
position:absolute;
top:45%;
right:54%;
font-size: 30px;
font-family: Avenir Light; 
opacity:0;

}

.harpoons-title:hover {
  opacity: 100;
}



.tiffanyhover {
  color:white;
}

.tiffany-title {
  position:absolute;
  top:45%;
  right:26%;
  font-size: 30px;
  font-family: Avenir Light;
  opacity: 0;
}

.tiffany-title:hover {
opacity: 100;

}



.denetiahover {
  color:white;
}

.denetia-title {
  position:absolute;
  top:87%;
  right:40%;
  font-size: 30px;
  font-family: Avenir Light;
  opacity: 0;
}

.denetia-title:hover {
opacity: 100;
}





.stevehover {
  color:white;
}

.steve-title {
position: absolute;
top:125%;
right:56%;
font-size: 30px;
font-family: Avenir Light;
opacity: 0;
}

.steve-title:hover {
  opacity: 100;
}



.ladyhover {
  color:white;
}

.lady-title {
  position: absolute;
  top:125%;
  right:30%;
  font-size: 30px;
  font-family: Avenir Light; 
  opacity: 0;
}

.lady-title:hover {
  opacity: 100;
}
