body { 
	background: linear-gradient(white, white, black);
   
}


@fontface { 
font-family: 'Rock Salt', cursive;
 }

h1 {


font: normal 55px "Rock Salt", sans-serif; text-align: center; margin: 110px; color: black; }



}


.rectangle {
	width: 200px;
	height: 350px;
	background: black;
}



.rectwo {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-25%;

}

.rectwo:hover {
    background: url(palms.jpg);
    height: 350px;
    width: 200px;
}


.recthree {
	width:200px;
	height:350px;
	background:red;
	position:relative;
	right:-55%;
	bottom:1%;

}

.recthree:hover {
    background: url(eva.jpg);
    max-width:100%;
    max-height:100%;
}


.recfour {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-20%;

}

.recfour:hover {
    background: url(cuffs.jpg);
    max-width:100%;
    max-height:100%;
}




.recfive {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-67%;

}

.recfive:hover {
    background: url(quaalude.jpg);
    max-width:100%;
    max-height:100%;
}

.recsix {
	width:200px;
	height:350px;
	background:red;
	position:relative;
	right:-30%;

}

.recsix:hover {
    background: url(sunset.jpg);
    max-width:100%;
    max-height:100%;
}

.recseven {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-65%;

}

.recseven:hover {
    background: url(euphoria.jpg);
    max-width:100%;
    max-height:100%;
}

.receight {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-20%;

}

.receight:hover {
    background: url(weedy.jpg);
    max-width:100%;
    max-height:100%;
}




.recnine {
	width:200px;
	height:350px;
	background:red;
	position:relative;
	right:-70%;

}

.recnine:hover {
    background: url(mouth.jpg);
    max-width:100%;
    max-height:100%;
}


.recten {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-40%;

}


.recten:hover {
    background: url(gui.jpg);
    max-width:100%;
    max-height:100%;
}



.receleven {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-15%;

}



.receleven:hover {
    background: url(static.jpg);
    max-width:100%;
    max-height:100%;
}



.rectwelve {
	width:200px;
	height:350px;
	background:red;
	position:relative;
	right:-30%;

}

.recthirteen {
	width:290px;
	height:309px;
	background:red;
	position:relative;
	right:-70%;
	top:30%;

}






.rectwenty {
	width:200px;
	height:350px;
	background:black;
	position:relative;
	right:-70%;


}


