body {
background-color:yellow;

}

h1 {
font-size:100px;
text-align: center;
color:white;
font-family: 'Permanent Marker', cursive;
}



h2 {
text-align: center;
color:green;
font-size:70px;
position:relative;
top:30%;
font-family: 'Permanent Marker', cursive;
}


p:hover {
  color: white;
  background-color: grey;
}

p + p {

  color: blue;
  font-family:Futura;

}

.one {
color:red;
font-family: Futura; 
text-align: center;


}
