
body {
background-color: white; 
margin:0px; 
font-size: 1.6em;
}


 /*@font-face { 
    font-family: CityScape; 
    font-weight: bold; 
    font-size: 200px; 
    justify-content: center;  
    src: url('cityscapefont.ttf');
  }*/



#pagetitle {
    font-size: 2em;
    text-align: center;
}





.topnav {

    background-color: black;
    overflow: hidden;
    display:inline-block;
    width:100%;
    margin:0 auto;
    padding: 0 10%

  
}

.topnav li {
display:inline;
float:left;
width:30%;

}

.topnav a {
    
    display: inline-flex;
    width:30%;
    color: #f2f2f2;
    text-align: center;
    font-family:Avenir Light;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;

    }

#container {
  padding: 10px 20px;
  justify-content: center;
}

.row {
  
  text-align: center;
}

.row a {
  display: inline-flex;
  padding:10px 15px;
  width: 300px;
  height:400px;
}

.row img {
  width:300px;
}

p{
  font-family: Avenir Light; 
  text-align:justify;
  width:400px;
  font-size: 12px;
  position:relative;
  left:390px;

}