@font-face { 
    font-family: neonclub; 
    src: url('neonclub.otf'); 
  } 


body {
background-color: white; 
margin:0px; 
}

h2 {
  text-align: center;
}

#container-two {
  padding: 30px 20px;
  justify-content: center;
  background: #FFF url(franceh.jpg) no-repeat center top;

}



.topnav {

    background-color: black;
    overflow: hidden;
    margin:0 auto;


  
}

.topnav li {
display:inline;
float:left;
width:30%;

}

.topnav a {
    
    display: block;
    float:left;
  color: #f2f2f2;
    
    font-family:Avenir Light;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;

    }


#container {
  padding: 10px 20px;
  justify-content: center;

}

.row {
  
  text-align: center;
}

.row a {
  display: inline-flex;
  padding:10px 15px;
  width: 300px;
  height:250px;
}



.row img {
  width:300px;

}

.imghover {

color:white;





}

.img-title{
  position: absolute;
  top:48%;
  right:55%;
  font-size:30px;
  font-family:Avenir Light;
  opacity:0;
}
.img-title:hover {
opacity: 100; 
}




.pdhover {
  color:white;
}

.paradis-title { 
position:absolute; 
top:47%;
right:32%;
font-size: 30px;
font-family: Avenir Light; 
opacity: 0; 

}

.paradis-title:hover {
  opacity: 100;
}




.imghovertwo {
  color:white;
}

.her-title { 
position:absolute; 
top:80%;
right:48%;
font-size: 30px;
font-family: Avenir Light; 
opacity: 0; 

}

.her-title:hover {
  opacity: 100;
}





.imghoverthree {
  color:white;
}

.bonnie-title { 
position:absolute; 
top:120%;
right:53%;
font-size: 30px;
font-family: Avenir Light; 
opacity: 0; 

}

.bonnie-title:hover {
  opacity: 100;
}






.imghoverfour {
  color:white;
}

.louis-title { 
position:absolute; 
top:120%;
right:29%;
font-size: 30px;
font-family: Avenir Light; 
opacity: 0; 

}

.louis-title:hover {
  opacity: 100;
}
