body { 
	background: white; 
	margin:0;
   
}

.topnav {
    background-color: black;
    overflow: hidden;
  
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Avenir Light; 
}

.topnav a:hover {
    background-color: #ddd;
    color: black;

    }

.group-container {
    padding: 10px 20px;
    /*justify-content: center;*/
    display: inline-flex;
    width:97%;
    justify-content: center;
}

#left {
  width: 40%;
  padding-right: 25px;
  font-family:Avenir Light;
  width:350px;
  text-align:justify; 
  letter-spacing:.5px;
}



#right {
  width:50%;
  text-align: center;
  padding-top:138px;
}


#pd {
color:pink;
font-size:40px;
} 

#follow {
  color:pink;
  position:absolute;
  left:550px;
  bottom:60px;
  font-family:Avenir Light;
}

/*.pds {
position:relative;
left:50px;
bottom:50px;
color:black;
font-family: Avenir Light; 
font-size:100px;

}

.columns {
	position:relative;
	bottom:150px;
	left:50px;
	font-family:Avenir Light;
	width:350px;
	text-align:justify;

}

.paradis {
position:relative;
left:50px;
bottom:120px;

}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	bottom:100px;
	left:500px;
	width:50%;
	height:70%;
}
*/









.social-icons {
  max-width: 500px;
  margin: 0 auto;
}

.icon {
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 1% 0.5%;
  padding-bottom: 19%;
  list-style: none;
}
@media all and (min-width: 640px) {
  .icon {
    width: 9%;
    padding-bottom: 9%;
  }
}
.icon:last-of-type {
  margin-right: 0;
}
.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 30%;
  margin-top: -7px;
  color: #fff;
  font-size: 9px;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.icon--facebook a {
  background-color: #3b5998;
  background-image: url("http://benhodgson.net/codepen/social/facebook-128.png");
}

.icon--twitter a {
  background-color: #00aced;
  background-image: url("http://benhodgson.net/codepen/social/twitter-128.png");
}


.icon--instagram a {
  background-color: #5c3d2e;
  background-image: url("http://benhodgson.net/codepen/social/instagram-128.png");
}


.icon--spotify a {
  background-color: #80b719;
  background-image: url("http://benhodgson.net/codepen/social/spotify-128.png");
}

.icon--soundcloud a {
  background-color: #f60;
  background-image: url("http://benhodgson.net/codepen/social/soundcloud-128.png");
}

