body { 
 background: linear-gradient(white, black); 


}


h1 {

text-align: center;


}


.boxone {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;


}

.boxtwo {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxthree {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxfour {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxfive {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxsix {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxseven {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxeight {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxnine {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

.boxten {
width:200px;
height:400px;
background: black;
position:relative;
top:-80%;
left:40%;
} 

